<!-- All Html between ns-action-bar will appear between ActionBar component's <ng-content></ng-content> tags -->
<ns-action-bar title="Current Challenge" [showBackButton]="false">
    <ActionItem nsRouterLink="/challenges/replace" ios.position="right" android.position="actionBar"
        pageTransition="slideRight"><Label text="Replace"></Label></ActionItem>
    <ActionItem nsRouterLink="/challenges/edit" ios.position="right" android.position="actionBar"
        pageTransition="slideRight"><Label text="Edit"></Label></ActionItem>
</ns-action-bar>
<ScrollView>
    <FlexboxLayout class="page">
        <StackLayout>
            <Label class="h1 text-center" text="Take a walk every day"></Label>
            <Label class="body text-center" text="Walk for at least 20 minutes"></Label>
        </StackLayout>
        <GridLayout rows="auto,*,*,*,*,*,*" columns="*,*,*,*,*,*,*">
            <Label class="week-day-label" width="100%" class="text-center"
                *ngFor="let weekDay of weekDays;let i = index" [text]="weekDay" row="0" [col]="i"></Label>
            <FlexboxLayout (tap)="onChangeStatus()" *ngFor="let day of days;let i = index" [row]="getRow(i,day)" [col]="day.dayInWeek"class="day completed">
                <Label [text]="day.dayInMonth"></Label>
            </FlexboxLayout>

        </GridLayout>
    </FlexboxLayout>
</ScrollView>