<TabView *ngIf="!isLoading"
    androidSelectedTabHighlightColor="#7c015d"
    androidTabsPosition="bottom"
    selectedTabTextColor="#7c015d">

    <page-router-outlet name="today"
        *tabItem="{title:'Today',iconSource:'res://check'}">
    </page-router-outlet>
    <page-router-outlet name="currentChallenge"
        *tabItem="{title:'Current Challenge',iconSource:'res://trophy'}">
    </page-router-outlet>

</TabView>
<FlexboxLayout *ngIf="isLoading"
    justifyContent="center"
    alignItems="center">
    <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</FlexboxLayout>