<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<!-- <page-router-outlet></page-router-outlet> -->

<!-- Regardless of Layout used in component app.component is required to include layout tag  to work properly: -->
<StackLayout>
    <RadSideDrawer>
        <FlexboxLayout tkDrawerContent class="drawer-container">
                <Button (tap)="onLogout()" nsRouterLink="/" [clearHistory]="true" text="Logout" class="btn btn-primary btn-rounded-lg"></Button>
        </FlexboxLayout>
        <StackLayout  tkMainContent>
        <page-router-outlet></page-router-outlet>
    </StackLayout>
    </RadSideDrawer>
</StackLayout>