<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<!-- <page-router-outlet></page-router-outlet> -->

Regardless of Layout used in component app.component is required to include layout tag  to work properly:
<StackLayout>
<ns-challenge-edit></ns-challenge-edit>
<ns-current-challenge></ns-current-challenge>
</StackLayout>
<!-- <StackLayout> -->
<!-- <ns-stack></ns-stack> -->
<!-- <ns-flexbox></ns-flexbox> -->
<!-- <ns-grid></ns-grid> -->
<!-- <ns-grid-assignment></ns-grid-assignment> -->
<!-- <ns-absolute></ns-absolute> -->
<!-- </StackLayout> -->

