<!-- Example1 -->
<!-- <FlexboxLayout  flexDirection="row" justifyContent="space-between">
    <Label id="i1" text="A" alignSelf="flex-start"></Label>
    <Label id="i2" text="B" alignSelf="flex-end" ></Label>
    <Label id="i3" text="C" alignSelf="flex-start"></Label>
</FlexboxLayout> -->

<!-- Example2 -->
<!-- <FlexboxLayout  flexDirection="column" justifyContent="space-around" >
    <Label id="i1" text="A"  alignSelf="center" ></Label>
    <Label id="i2" text="B"  alignSelf="center"></Label>
    <Label id="i3" text="C"  alignSelf="center"></Label>
</FlexboxLayout> -->

<!-- Example3 -->
<FlexboxLayout  flexDirection="column" justifyContent="space-around">
    <Label id="i1" text="A"  alignSelf="stretch" ></Label>
    <Label id="i2" text="B"  alignSelf="stretch"></Label>
</FlexboxLayout>
